@charset "utf-8";

/* common */
html {
  font-size: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic proN","メイリオ",sans-serif;
  color: #555;
  line-height: 1.5;
}

img{
  width: 100%;
  border: solid 1px #777777; 
}

.wrapper {
  max-width: 940px;
  margin:0 auto;
  padding: 0 10px;
}

/* header */
header {
  border-top: 8px solid #8c6239;
}

.header_content {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

#main_image{
  width: 100%;
  height: 50vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* contents */
.contents {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 50px 50px;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin-top: 30px;
  gap: 60px 40px;
}

#profile_image {
  display: flex;
  width: 25%;
  border-radius: 50%;
  margin: 30px auto;
}

#home h2 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #8c6239;
  font-size: 1.2rem;
}

 #works_lpic {
  display: flex;
  margin: 30px auto;
  width: 50%;
}

h2 a:link {
  color:blue;
}

h2 a:hover {
  color:aqua;
}

/* footer */

footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #8c6239;
}

footer ul {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

footer ul li {
  display: inline-block;
  margin: 5px;
}

footer ul li a {
  color: #fff;
}

footer ul li a:link {
  text-decoration: none;
}

footer ul li a:hover,
footer ul li a:active {
  opacity: .7;
}

small {
  font-size: 0.7rem;
}

/* responsive */

@media(max-width: 600px){
  html {
    font-size:87.5%;
  }

  .contents {
    flex-direction: column;
    margin-top: 10px;
  }

  #main_content {
    width: 100%;
  }
}
